<div class="footer">

	<div class="footer-copyright">
		<p>{{{pageContent.pageInfo.copyright}}}</p>
	</div>
	<div class="footer-imprint">
		<a href="{{pageContent.pageInfo.imprint.href}}">{{{pageContent.pageInfo.imprint.title}}}</a>
	</div>

</div>