<h1>{{{content.pageTitle}}}</h1>
<h2>{{{content.pageSubTitle}}}</h2>
<div class="row">
	<a href="#" id="buy">
		<img src="../../../images/logo.png">
	</a>
</div>
<div class="row">
	<span>{{{content.buttonText}}}</span> 
</div>